@import "../node_modules/susy/sass/_susy.scss";
// @import "susy";

 
/**

    SASS VARIABLES

**/
//FONTS
$font-stack: 'Open Sans', sans-serif;

//COLORS
$white: #FFFFFF;
$darkred: #b71111;
$lightred: #d41414;
$lightgreen: #55a939;
$darkgreen: #3e9f1a;
$lightgray: #DCDCDC;

//Tablet mediaquery
$tablet: 768px;
 
/**

    CUSTOM SASS

**/
//TEXT HEADERS
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}


//BODY
body {
  font-family: $font-stack;
  button, input, textarea {
    font-family: $font-stack;
  }
}


/* Changing Susy default global settings by using map */
$susy : (
  columns: 12,
  gutters: 1,
  container: 1024px
);

//PAGE HEADER
header {
  transition: 0.5s;
}
.header-bg {
  background: $darkgreen;
  transition: 0.5s;
}

//TOP PAGE OVERLAY
.overlayparent {
	position: relative;
  line-height: 0;
}
.overlay {
    width: 100%;
    background-color: rgba(0, 255, 0, 0.2);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    //for jumbtron (using flexbox)
    display: flex;
    align-items: center;
    justify-content: center;

}
//JUMBOTRON
.myjumbotron {
  height: 50%;
  text-align: center;
  line-height: 2;

  h1{
    color: $white;
    font-weight: 900;
    font-size: 7.5vw;
    line-height: 1;
    margin: auto 30px;
  }
  h2{
    color: $white;
    font-size: 1.5vw;
    display: none;
  }
  .myitalic {
    font-style: italic;
  }
  a {
    line-height: 1;
    display: inline-block;
    padding: 12px 25px 12px 25px;
    background-color: $darkred;
    color: $white;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.1s;
    margin-top: 7%;
    box-shadow: 1px 3px 7px -2px rgba(1,1,0,1);
  }
  a:hover {
    background-color: $lightred;
  }
}

video { 
    // width: 100%;
    // height: 100vh;
    // z-index: -100;
    // transform: translateX(-50%) translateY(-50%);
	// background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	background-size: cover;
	// transition: 1s opacity;
	margin: auto;
	@include show-grid(12);
	width: 100%;
}

.wrap {
	header {
		position: fixed;
		width: 100%;
		z-index: 222;
	}
}

.sectionheader {
  background-color: $darkgreen;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.factheader, .eventheader, .howtoheader, .contactheader {
  @include container;
  line-height: 1.5;
  
  //height (temporary)
  div {
    padding: 10px;
    box-sizing: border-box;
  }
}

//FACTS SECTION
.factheader {
  .factscircles {
    /*background-color: red;*/

    .circle {
        display: flex;
        div {
          display: flex;
          justify-content: center;
          flex-direction: column;

          img {
            border-radius: 100px;
          }
          p {
            font-weight: 600;
          }
        }
    }
  }
  .factsquick {
    /*background-color: yellow;*/
  }
}

//EVENTS
.eventbg {
  
  //bacground image
  /*background: url("http://image1.redbull.com/rbcom/010/2016-06-13/1331800182550_2/0010/1/1500/1000/2/aaron-gwin-leogang.jpg");*/
  /*background-size: cover;*/
  /*overflow: auto;*/

  .eventheader {
    /*background-color: rgba(209, 232, 240, 0.7);
    padding: 10px;*/

    background: transparent;

    .event {
      /*background-color: purple;*/
    }
  }
}

.howtobg {

  //bacground image
  background: url("https://i.ytimg.com/vi/61aM0DXpKkc/maxresdefault.jpg");
  background-size: cover;
  overflow: auto;

  .howtoheader {

    background-color: rgba(209, 232, 240, 0.7);
    padding: 10px;

    .guideinfo {
      /*background-color: blue;*/
    }
    .register {
      text-align: center;
      @include span(12);
      padding: 50px;

      a{
          padding: 12px 25px 12px 25px;
          background-color: $darkred;
          color: $white;
          text-decoration: none;
          border-radius: 4px;
          transition: 0.1s;
          margin-top: 7%;
          box-shadow: 1px 3px 7px -2px rgba(1,1,0,1);
      }
      a:hover {
      background-color: $lightred;
      }
    }
  }
}

.contactbg {
  
  //bacground image
  background: url("http://i.nextmedia.com.au/Galleries/20161108111920_stmortiz-9728.jpg");
  background-size: cover;
  overflow: auto;

  .contactheader {
    h2, h1 {
      text-align: center;
    }
    form {
      /*background-color: blue;*/
      width: 300px;
      margin: 30px auto;
      text-align: center;

      input, textarea {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: $lightgray;
      }
      textarea {
        height: 200px;
        resize: none;
        margin-bottom: 30px;
      }
      button {
        line-height: 1;
        display: inline-block;
        padding: 12px 25px 12px 25px;
        background-color: $darkred;
        color: $white;
        text-decoration: none;
        border-radius: 4px;
        transition: 0.1s;
        box-shadow: 1px 3px 7px -2px rgba(1,1,0,1);

        border: none;
        margin-bottom: 10px;
      }
      button:hover {
        background-color: $lightred;
        cursor: pointer;
      }
    }
  }
}

//FOOTER
#footer {
  height: 100px;
  background-color: $darkgreen;
}

/**

		RESPONSIVE NAVBAR

**/
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: $darkgreen;*/
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  /*background-color: #555;*/
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:$tablet) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:$tablet) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: $tablet){
	ul.topnav {
    display: inline-block;
		float: right;
	}
}
@import "../node_modules/susy/sass/_susy.scss";

/*

    MEDIUM SCREEN

*/
@media screen and (min-width: 768px){

  //SPACE
  .factheader, .eventheader, .howtoheader, .contactheader {
    margin: 100px auto;
  }

  //HEADER
  .header-bg {
    // box-shadow: 1px 0px 7px -2px #010100;
  }

  //JUMBOTRON
  .myjumbotron {
    h1 {
      line-height: 1;
      font-size: 4vw;
    }
    h2 {
      display: block;
      font-size: 2.5vw;
      line-height: 1.5;
    }
    .logotop {
      height: 100px;
      width: 200px;
      background: url("http://smbc.net/wp-content/uploads/2015/12/mountain-black.png");
      background: url(http://smbc.net/wp-content/uploads/2015/12/mountain-black.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin: auto;
    }
  }

  //FACTS
  .factheader {
    .factscircles {
      @include span(6);
    }

    .factsquick {
      @include span(6 last);
    }
  }
  
  //3 COLUMN LAYOUT
  .event, .guideinfo {
    &:nth-child(1), &:nth-child(2){
      @include span(4);
    }
    &:nth-child(3){
      @include span(4 last);
    }
  }
  
  //EVENTS
  .event {
    h2{
      text-align: center;
    }
    img {
      display: block;
      margin: auto;
    }
  }


  //NAVBAR
  ul.topnav {
    background: transparent;
  }

}
@import "../node_modules/susy/sass/_susy.scss";

/*

    LARGE SCREEN

*/
@media screen and (min-width: 1035px){
	
	.myjumbotron {

		h1 {
			font-size: 3.5vw;
		}
		h2 {
			font-size: 1.7vw;
			line-height: 2;
		}
	}

	.howtoheader, .eventheader {
	    border-radius: 8px;
	    background-color: red;
	}

}

